#ie8 sub {
  vertical-align: baseline;
}
#ie8 .control-label {
  text-align: right;
  padding-top: 5px;
}
#ie8 label.sr-only {
  position: static;
  clear: both;
  width: 100%;
  height: inherit;
  margin: 0;
  display: block;
}
#ie8 .code-group label.sr-only {
  margin-left: 5px;
}
#ie8 .form-inline .form-control {
  width: auto;
  display: inline-block;
}
#ie8 .form-inline .radio,
#ie8 .form-inline .checkbox {
  display: inline-block;
  white-space: nowrap;
}
#ie8 .container {
  width: 960px;
}
#ie8 .col-xs-1,
#ie8 .col-sm-1,
#ie8 .col-md-1,
#ie8 .col-lg-1,
#ie8 .col-xs-2,
#ie8 .col-sm-2,
#ie8 .col-md-2,
#ie8 .col-lg-2,
#ie8 .col-xs-3,
#ie8 .col-sm-3,
#ie8 .col-md-3,
#ie8 .col-lg-3,
#ie8 .col-xs-4,
#ie8 .col-sm-4,
#ie8 .col-md-4,
#ie8 .col-lg-4,
#ie8 .col-xs-5,
#ie8 .col-sm-5,
#ie8 .col-md-5,
#ie8 .col-lg-5,
#ie8 .col-xs-6,
#ie8 .col-sm-6,
#ie8 .col-md-6,
#ie8 .col-lg-6,
#ie8 .col-xs-7,
#ie8 .col-sm-7,
#ie8 .col-md-7,
#ie8 .col-lg-7,
#ie8 .col-xs-8,
#ie8 .col-sm-8,
#ie8 .col-md-8,
#ie8 .col-lg-8,
#ie8 .col-xs-9,
#ie8 .col-sm-9,
#ie8 .col-md-9,
#ie8 .col-lg-9,
#ie8 .col-xs-10,
#ie8 .col-sm-10,
#ie8 .col-md-10,
#ie8 .col-lg-10,
#ie8 .col-xs-11,
#ie8 .col-sm-11,
#ie8 .col-md-11,
#ie8 .col-lg-11,
#ie8 .col-xs-12,
#ie8 .col-sm-12,
#ie8 .col-md-12,
#ie8 .col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-left: 5px;
  padding-right: 5px;
}
#ie8 .col-xs-1,
#ie8 .col-xs-2,
#ie8 .col-xs-3,
#ie8 .col-xs-4,
#ie8 .col-xs-5,
#ie8 .col-xs-6,
#ie8 .col-xs-7,
#ie8 .col-xs-8,
#ie8 .col-xs-9,
#ie8 .col-xs-10,
#ie8 .col-xs-11,
#ie8 .col-xs-12 {
  float: left;
}
#ie8 .col-xs-12 {
  width: 100%;
}
#ie8 .col-xs-11 {
  width: 91.66666667%;
}
#ie8 .col-xs-10 {
  width: 83.33333333%;
}
#ie8 .col-xs-9 {
  width: 75%;
}
#ie8 .col-xs-8 {
  width: 66.66666667%;
}
#ie8 .col-xs-7 {
  width: 58.33333333%;
}
#ie8 .col-xs-6 {
  width: 50%;
}
#ie8 .col-xs-5 {
  width: 41.66666667%;
}
#ie8 .col-xs-4 {
  width: 33.33333333%;
}
#ie8 .col-xs-3 {
  width: 25%;
}
#ie8 .col-xs-2 {
  width: 16.66666667%;
}
#ie8 .col-xs-1 {
  width: 8.33333333%;
}
#ie8 .col-xs-pull-12 {
  right: 100%;
}
#ie8 .col-xs-pull-11 {
  right: 91.66666667%;
}
#ie8 .col-xs-pull-10 {
  right: 83.33333333%;
}
#ie8 .col-xs-pull-9 {
  right: 75%;
}
#ie8 .col-xs-pull-8 {
  right: 66.66666667%;
}
#ie8 .col-xs-pull-7 {
  right: 58.33333333%;
}
#ie8 .col-xs-pull-6 {
  right: 50%;
}
#ie8 .col-xs-pull-5 {
  right: 41.66666667%;
}
#ie8 .col-xs-pull-4 {
  right: 33.33333333%;
}
#ie8 .col-xs-pull-3 {
  right: 25%;
}
#ie8 .col-xs-pull-2 {
  right: 16.66666667%;
}
#ie8 .col-xs-pull-1 {
  right: 8.33333333%;
}
#ie8 .col-xs-pull-0 {
  right: auto;
}
#ie8 .col-xs-push-12 {
  left: 100%;
}
#ie8 .col-xs-push-11 {
  left: 91.66666667%;
}
#ie8 .col-xs-push-10 {
  left: 83.33333333%;
}
#ie8 .col-xs-push-9 {
  left: 75%;
}
#ie8 .col-xs-push-8 {
  left: 66.66666667%;
}
#ie8 .col-xs-push-7 {
  left: 58.33333333%;
}
#ie8 .col-xs-push-6 {
  left: 50%;
}
#ie8 .col-xs-push-5 {
  left: 41.66666667%;
}
#ie8 .col-xs-push-4 {
  left: 33.33333333%;
}
#ie8 .col-xs-push-3 {
  left: 25%;
}
#ie8 .col-xs-push-2 {
  left: 16.66666667%;
}
#ie8 .col-xs-push-1 {
  left: 8.33333333%;
}
#ie8 .col-xs-push-0 {
  left: auto;
}
#ie8 .col-xs-offset-12 {
  margin-left: 100%;
}
#ie8 .col-xs-offset-11 {
  margin-left: 91.66666667%;
}
#ie8 .col-xs-offset-10 {
  margin-left: 83.33333333%;
}
#ie8 .col-xs-offset-9 {
  margin-left: 75%;
}
#ie8 .col-xs-offset-8 {
  margin-left: 66.66666667%;
}
#ie8 .col-xs-offset-7 {
  margin-left: 58.33333333%;
}
#ie8 .col-xs-offset-6 {
  margin-left: 50%;
}
#ie8 .col-xs-offset-5 {
  margin-left: 41.66666667%;
}
#ie8 .col-xs-offset-4 {
  margin-left: 33.33333333%;
}
#ie8 .col-xs-offset-3 {
  margin-left: 25%;
}
#ie8 .col-xs-offset-2 {
  margin-left: 16.66666667%;
}
#ie8 .col-xs-offset-1 {
  margin-left: 8.33333333%;
}
#ie8 .col-xs-offset-0 {
  margin-left: 0%;
}
#ie8 .col-sm-1,
#ie8 .col-sm-2,
#ie8 .col-sm-3,
#ie8 .col-sm-4,
#ie8 .col-sm-5,
#ie8 .col-sm-6,
#ie8 .col-sm-7,
#ie8 .col-sm-8,
#ie8 .col-sm-9,
#ie8 .col-sm-10,
#ie8 .col-sm-11,
#ie8 .col-sm-12 {
  float: left;
}
#ie8 .col-sm-12 {
  width: 100%;
}
#ie8 .col-sm-11 {
  width: 91.66666667%;
}
#ie8 .col-sm-10 {
  width: 83.33333333%;
}
#ie8 .col-sm-9 {
  width: 75%;
}
#ie8 .col-sm-8 {
  width: 66.66666667%;
}
#ie8 .col-sm-7 {
  width: 58.33333333%;
}
#ie8 .col-sm-6 {
  width: 50%;
}
#ie8 .col-sm-5 {
  width: 41.66666667%;
}
#ie8 .col-sm-4 {
  width: 33.33333333%;
}
#ie8 .col-sm-3 {
  width: 25%;
}
#ie8 .col-sm-2 {
  width: 16.66666667%;
}
#ie8 .col-sm-1 {
  width: 8.33333333%;
}
#ie8 .col-sm-pull-12 {
  right: 100%;
}
#ie8 .col-sm-pull-11 {
  right: 91.66666667%;
}
#ie8 .col-sm-pull-10 {
  right: 83.33333333%;
}
#ie8 .col-sm-pull-9 {
  right: 75%;
}
#ie8 .col-sm-pull-8 {
  right: 66.66666667%;
}
#ie8 .col-sm-pull-7 {
  right: 58.33333333%;
}
#ie8 .col-sm-pull-6 {
  right: 50%;
}
#ie8 .col-sm-pull-5 {
  right: 41.66666667%;
}
#ie8 .col-sm-pull-4 {
  right: 33.33333333%;
}
#ie8 .col-sm-pull-3 {
  right: 25%;
}
#ie8 .col-sm-pull-2 {
  right: 16.66666667%;
}
#ie8 .col-sm-pull-1 {
  right: 8.33333333%;
}
#ie8 .col-sm-pull-0 {
  right: auto;
}
#ie8 .col-sm-push-12 {
  left: 100%;
}
#ie8 .col-sm-push-11 {
  left: 91.66666667%;
}
#ie8 .col-sm-push-10 {
  left: 83.33333333%;
}
#ie8 .col-sm-push-9 {
  left: 75%;
}
#ie8 .col-sm-push-8 {
  left: 66.66666667%;
}
#ie8 .col-sm-push-7 {
  left: 58.33333333%;
}
#ie8 .col-sm-push-6 {
  left: 50%;
}
#ie8 .col-sm-push-5 {
  left: 41.66666667%;
}
#ie8 .col-sm-push-4 {
  left: 33.33333333%;
}
#ie8 .col-sm-push-3 {
  left: 25%;
}
#ie8 .col-sm-push-2 {
  left: 16.66666667%;
}
#ie8 .col-sm-push-1 {
  left: 8.33333333%;
}
#ie8 .col-sm-push-0 {
  left: auto;
}
#ie8 .col-sm-offset-12 {
  margin-left: 100%;
}
#ie8 .col-sm-offset-11 {
  margin-left: 91.66666667%;
}
#ie8 .col-sm-offset-10 {
  margin-left: 83.33333333%;
}
#ie8 .col-sm-offset-9 {
  margin-left: 75%;
}
#ie8 .col-sm-offset-8 {
  margin-left: 66.66666667%;
}
#ie8 .col-sm-offset-7 {
  margin-left: 58.33333333%;
}
#ie8 .col-sm-offset-6 {
  margin-left: 50%;
}
#ie8 .col-sm-offset-5 {
  margin-left: 41.66666667%;
}
#ie8 .col-sm-offset-4 {
  margin-left: 33.33333333%;
}
#ie8 .col-sm-offset-3 {
  margin-left: 25%;
}
#ie8 .col-sm-offset-2 {
  margin-left: 16.66666667%;
}
#ie8 .col-sm-offset-1 {
  margin-left: 8.33333333%;
}
#ie8 .col-sm-offset-0 {
  margin-left: 0%;
}
#ie8 .col-md-1,
#ie8 .col-md-2,
#ie8 .col-md-3,
#ie8 .col-md-4,
#ie8 .col-md-5,
#ie8 .col-md-6,
#ie8 .col-md-7,
#ie8 .col-md-8,
#ie8 .col-md-9,
#ie8 .col-md-10,
#ie8 .col-md-11,
#ie8 .col-md-12 {
  float: left;
}
#ie8 .col-md-12 {
  width: 100%;
}
#ie8 .col-md-11 {
  width: 91.66666667%;
}
#ie8 .col-md-10 {
  width: 83.33333333%;
}
#ie8 .col-md-9 {
  width: 75%;
}
#ie8 .col-md-8 {
  width: 66.66666667%;
}
#ie8 .col-md-7 {
  width: 58.33333333%;
}
#ie8 .col-md-6 {
  width: 50%;
}
#ie8 .col-md-5 {
  width: 41.66666667%;
}
#ie8 .col-md-4 {
  width: 33.33333333%;
}
#ie8 .col-md-3 {
  width: 25%;
}
#ie8 .col-md-2 {
  width: 16.66666667%;
}
#ie8 .col-md-1 {
  width: 8.33333333%;
}
#ie8 .col-md-pull-12 {
  right: 100%;
}
#ie8 .col-md-pull-11 {
  right: 91.66666667%;
}
#ie8 .col-md-pull-10 {
  right: 83.33333333%;
}
#ie8 .col-md-pull-9 {
  right: 75%;
}
#ie8 .col-md-pull-8 {
  right: 66.66666667%;
}
#ie8 .col-md-pull-7 {
  right: 58.33333333%;
}
#ie8 .col-md-pull-6 {
  right: 50%;
}
#ie8 .col-md-pull-5 {
  right: 41.66666667%;
}
#ie8 .col-md-pull-4 {
  right: 33.33333333%;
}
#ie8 .col-md-pull-3 {
  right: 25%;
}
#ie8 .col-md-pull-2 {
  right: 16.66666667%;
}
#ie8 .col-md-pull-1 {
  right: 8.33333333%;
}
#ie8 .col-md-pull-0 {
  right: auto;
}
#ie8 .col-md-push-12 {
  left: 100%;
}
#ie8 .col-md-push-11 {
  left: 91.66666667%;
}
#ie8 .col-md-push-10 {
  left: 83.33333333%;
}
#ie8 .col-md-push-9 {
  left: 75%;
}
#ie8 .col-md-push-8 {
  left: 66.66666667%;
}
#ie8 .col-md-push-7 {
  left: 58.33333333%;
}
#ie8 .col-md-push-6 {
  left: 50%;
}
#ie8 .col-md-push-5 {
  left: 41.66666667%;
}
#ie8 .col-md-push-4 {
  left: 33.33333333%;
}
#ie8 .col-md-push-3 {
  left: 25%;
}
#ie8 .col-md-push-2 {
  left: 16.66666667%;
}
#ie8 .col-md-push-1 {
  left: 8.33333333%;
}
#ie8 .col-md-push-0 {
  left: auto;
}
#ie8 .col-md-offset-12 {
  margin-left: 100%;
}
#ie8 .col-md-offset-11 {
  margin-left: 91.66666667%;
}
#ie8 .col-md-offset-10 {
  margin-left: 83.33333333%;
}
#ie8 .col-md-offset-9 {
  margin-left: 75%;
}
#ie8 .col-md-offset-8 {
  margin-left: 66.66666667%;
}
#ie8 .col-md-offset-7 {
  margin-left: 58.33333333%;
}
#ie8 .col-md-offset-6 {
  margin-left: 50%;
}
#ie8 .col-md-offset-5 {
  margin-left: 41.66666667%;
}
#ie8 .col-md-offset-4 {
  margin-left: 33.33333333%;
}
#ie8 .col-md-offset-3 {
  margin-left: 25%;
}
#ie8 .col-md-offset-2 {
  margin-left: 16.66666667%;
}
#ie8 .col-md-offset-1 {
  margin-left: 8.33333333%;
}
#ie8 .col-md-offset-0 {
  margin-left: 0%;
}
#ie8 .col-lg-1,
#ie8 .col-lg-2,
#ie8 .col-lg-3,
#ie8 .col-lg-4,
#ie8 .col-lg-5,
#ie8 .col-lg-6,
#ie8 .col-lg-7,
#ie8 .col-lg-8,
#ie8 .col-lg-9,
#ie8 .col-lg-10,
#ie8 .col-lg-11,
#ie8 .col-lg-12 {
  float: left;
}
#ie8 .col-lg-12 {
  width: 100%;
}
#ie8 .col-lg-11 {
  width: 91.66666667%;
}
#ie8 .col-lg-10 {
  width: 83.33333333%;
}
#ie8 .col-lg-9 {
  width: 75%;
}
#ie8 .col-lg-8 {
  width: 66.66666667%;
}
#ie8 .col-lg-7 {
  width: 58.33333333%;
}
#ie8 .col-lg-6 {
  width: 50%;
}
#ie8 .col-lg-5 {
  width: 41.66666667%;
}
#ie8 .col-lg-4 {
  width: 33.33333333%;
}
#ie8 .col-lg-3 {
  width: 25%;
}
#ie8 .col-lg-2 {
  width: 16.66666667%;
}
#ie8 .col-lg-1 {
  width: 8.33333333%;
}
#ie8 .col-lg-pull-12 {
  right: 100%;
}
#ie8 .col-lg-pull-11 {
  right: 91.66666667%;
}
#ie8 .col-lg-pull-10 {
  right: 83.33333333%;
}
#ie8 .col-lg-pull-9 {
  right: 75%;
}
#ie8 .col-lg-pull-8 {
  right: 66.66666667%;
}
#ie8 .col-lg-pull-7 {
  right: 58.33333333%;
}
#ie8 .col-lg-pull-6 {
  right: 50%;
}
#ie8 .col-lg-pull-5 {
  right: 41.66666667%;
}
#ie8 .col-lg-pull-4 {
  right: 33.33333333%;
}
#ie8 .col-lg-pull-3 {
  right: 25%;
}
#ie8 .col-lg-pull-2 {
  right: 16.66666667%;
}
#ie8 .col-lg-pull-1 {
  right: 8.33333333%;
}
#ie8 .col-lg-pull-0 {
  right: auto;
}
#ie8 .col-lg-push-12 {
  left: 100%;
}
#ie8 .col-lg-push-11 {
  left: 91.66666667%;
}
#ie8 .col-lg-push-10 {
  left: 83.33333333%;
}
#ie8 .col-lg-push-9 {
  left: 75%;
}
#ie8 .col-lg-push-8 {
  left: 66.66666667%;
}
#ie8 .col-lg-push-7 {
  left: 58.33333333%;
}
#ie8 .col-lg-push-6 {
  left: 50%;
}
#ie8 .col-lg-push-5 {
  left: 41.66666667%;
}
#ie8 .col-lg-push-4 {
  left: 33.33333333%;
}
#ie8 .col-lg-push-3 {
  left: 25%;
}
#ie8 .col-lg-push-2 {
  left: 16.66666667%;
}
#ie8 .col-lg-push-1 {
  left: 8.33333333%;
}
#ie8 .col-lg-push-0 {
  left: auto;
}
#ie8 .col-lg-offset-12 {
  margin-left: 100%;
}
#ie8 .col-lg-offset-11 {
  margin-left: 91.66666667%;
}
#ie8 .col-lg-offset-10 {
  margin-left: 83.33333333%;
}
#ie8 .col-lg-offset-9 {
  margin-left: 75%;
}
#ie8 .col-lg-offset-8 {
  margin-left: 66.66666667%;
}
#ie8 .col-lg-offset-7 {
  margin-left: 58.33333333%;
}
#ie8 .col-lg-offset-6 {
  margin-left: 50%;
}
#ie8 .col-lg-offset-5 {
  margin-left: 41.66666667%;
}
#ie8 .col-lg-offset-4 {
  margin-left: 33.33333333%;
}
#ie8 .col-lg-offset-3 {
  margin-left: 25%;
}
#ie8 .col-lg-offset-2 {
  margin-left: 16.66666667%;
}
#ie8 .col-lg-offset-1 {
  margin-left: 8.33333333%;
}
#ie8 .col-lg-offset-0 {
  margin-left: 0%;
}
#ie8 .navbar-header,
#ie8 .navbar-collapse {
  margin-right: 0;
  margin-left: 0;
}
#ie8 .navbar-collapse {
  display: block;
  height: auto;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  border-top: none;
  overflow: visible;
}
#ie8 .navbar-toggle {
  display: none;
}
#ie8 .navbar-nav {
  float: left;
  margin: 0;
}
#ie8 .navbar-nav > li {
  float: left;
}
#ie8 .navbar-nav > li > a {
  padding: 10px;
}
#ie8 .navbar-nav.navbar-right {
  float: right;
}
#ie8 .img-responsive {
  width: inherit;
}
#ie8 .lead {
  font-size: 21px;
}
#ie8 .modal-dialog {
  width: 600px;
  margin: 30px auto;
}
#ie8 .step-num {
  background-image: url('../img/ie-step-num-bg.png');
  background-repeat: no-repeat;
}
